<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Web Garden</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="resources/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="resources/css/stylef.css" rel="stylesheet">
    <link href="resources/color/default.css" rel="stylesheet">
    <link rel="shortcut icon" href="resources/img/fivicon.ico">

</head>

<body>
<!-- navbar -->
<div class="navbar-wrapper">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <!-- Responsive navbar -->
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
                </a>
                <a href="/"><img src="resources/img/slogan.png"></a>
                <!-- navigation -->
                <nav class="pull-right nav-collapse collapse">
                    <ul id="menu-main" class="nav">
                        <li><a title="Sobre" href="/sobre">Sobre Nós</a></li>
                        <li><a title="Cadastro" href="/cadastro">Cadastro</a></li>
                        <li><a title="Login" href="/login">Login</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- Header area -->
<div id="header-wrapper" class="header">
    <header class="clearfix">
        <img alt="logo" src="resources/img/slogan.png"><br/>
        <h5><strong>ERRO</strong></h5>
        <br/>
    </header>
</div>
<body>
<div class="container">
    <h1> ERRO DE SERVIÇO</h1>
    <h1> Usuario não autorizado</h1>
    </div>
    <!-- end slider -->
</div>
</body>
<footer>
    <div class="container">
        <div class="row">
            <div class="span6 offset3">
                <ul class="social-networks">
                    <li><a href="https://www.instagram.com/lyaelis/"><i class="icon-circled icon-bgdark icon-instagram icon-2x"></i></a></li>
                    <li><a href="https://www.linkedin.com/in/elis-regina-scherer-a7589674/"><i class="icon-circled icon-bgdark icon-linkedin icon-2x"></i></a></li>
                    <li><a href="https://www.facebook.com/lia.scherer.7"><i class="icon-circled icon-bgdark icon-facebook icon-2x"></i></a></li>
                    <li><a href="https://github.com/Liaelis"><i class="icon-circled icon-bgdark icon-github icon-2x"></i></a></li>
                </ul>
                <p class="copyright">
                    Direitos Reservados à Elis Regina Scherer
                <div class="credits">

                    <a href="/">WebGarden</a>
                </div>
                </p>
            </div>
        </div>
    </div>
    <!-- ./container -->
</footer>
<a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bgdark icon-2x"></i></a>
<script src="resources/js/jquery.js"></script>
<script src="resources/js/jquery.scrollTo.js"></script>
<script src="resources/js/jquery.nav.js"></script>
<script src="resources/js/jquery.localScroll.js"></script>
<script src="resources/js/bootstrap.js"></script>
<script src="resources/js/jquery.prettyPhoto.js"></script>
<script src="resources/js/isotope.js"></script>
<script src="resources/js/jquery.flexslider.js"></script>
<script src="resources/js/inview.js"></script>
<script src="resources/js/animate.js"></script>
<script src="resources/js/custom.js"></script>
<script src="resources/contactform/contactform.js"></script>

</html>